<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blob simulation</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            color: #4a4a4a;
            text-align: center;
        }

        .btn-secondary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    </style>
    <script>

        function startSimulation() {

            let data = document.getElementById("inputJson").value
            fetch("/simulation", {method: "POST", body: data})
                .then((response) => response.json())
                .then((json) => localStorage.setItem('simulationId', json.simulationId));

            document.getElementById('config').innerHTML = "<i>Simulation started!</i>"
        }

        function getTxt() {
            fetch("/simulation?type=txt&simulationId=" + localStorage.getItem('simulationId'), {method: "GET"})
                .then((response) => response.text())
                .then((text) => document.getElementById("config").innerHTML = text);
        }

        function getPng() {
            fetch("/simulation?type=png&simulationId=" + localStorage.getItem('simulationId'), {method: "GET"})
                .then(response => response.blob())
                .then(blob => {
                    displayImage(blob);
                })
        }

        function displayImage(blob) {
            const imgElement = document.getElementById('plot');
            imgElement.src = URL.createObjectURL(blob);
        }

    </script>
</head>
<body>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Simulation</strong>
        <small>Now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Simulation started!
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="mb-4">Blob simulation</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <h3>Input configuration:</h3>
            <textarea id="inputJson" rows="13" cols="40">{
    "NUMBER_OF_BLOBS": 500,
    "NUMBER_OF_TREES": 1000,
    "PROB_BAD_TREE": 0.5,
    "PROB_GET_EATEN": 0.5,
    "PROB_DOUBLE_REPRODUCE": 0.3,
    "ALTRUISTIC_GENE_FRACTION": 0.2,
    "STEPS": 100,
    "GREEN_BEARD": true,
    "SIMULATION_NAME": "hehe",
    "PLOT_PATH": "plots"
}
            </textarea><br>
            <button type="button" class="btn btn-success me-2" onclick="startSimulation()">Start simulation</button>
            <button type="button" class="btn btn-secondary" onclick="getTxt()">Get TXT</button>
            <button type="button" class="btn btn-secondary" onclick="getPng()">Get PNG</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <h3 class="center">Simulation parameters</h3>
                <p id="config"><i>Start a simulation to display results...</i></p>
            </div>
            <div class="divider"><br><br></div>
            <div class="card text-center">
                <h3 class="center">Simulation plot</h3>
                <img id="plot" src="{{url_for('static', filename='blank.png')}}" alt="plot"
                     class="card-img-top">
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <i style="color:gray">&copy; Bartosz Nieroda, Tomasz Wojakowski, Krzysztof Pala 2023</i>
    </div>
</div>